:root{
    --primary-color: #111317;
    --secondary-color: #f9ac54;
    --terciary-color: #d1d5db;
    --quaternary-color: #35373b;
}

body{
    background-color: var(--primary-color);
    font: 400 16px 'Roboto', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 55%;
}

header {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav a {
    padding-top: 10px;
    color: var(--terciary-color);
    text-decoration: none;
    font-size: 1.2rem;
}

#link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.default-button{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

article {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
}

#detailed-label {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 700;
}

article p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.default-paragraph {
    color: var(--terciary-color);
}

article h1 {
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

#empty-strong {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.main__image{
    height: 70vh;
}

.light-point {
    width: 0px;
    height: 0px;
    border-radius: 50%; /* Tornar o elemento circular */
    box-shadow: 0 0 1000px 200px rgb(249, 172, 84, 0.2) /* Aumentar o raio do box shadow */
}

h2 {
    font-weight: 700;
    color: white;
    font-size: larger;
}